/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
/*:root.theme-light {
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --lead-color: #353430;
  --lead-color-hover: #32312d66;
  --background: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
}*/

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --lead-color: #353430;
    --lead-color-hover: #32312d66;
    --background: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
  }

  .page.theme_auto .header__decoration {
    display: none;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --lead-color: #353430;
  --lead-color-hover: #32312d66;
  --background: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
}

.page.theme_light .header__decoration {
  display: none;
}
