/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  background: var(--background);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}

/*стили шапки*/
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  padding: 20px;
  min-block-size: 768px;
}

@media (width <= 800px) {
  .header {
    min-block-size: 1024px;
  }
}

@media (width <= 575px) {
  .header {
    padding: 10px;
    min-block-size: 668px;
  }
}

.header__theme-menu {
  grid-column: span 1;
  align-self: flex-start;
}

@media (width <= 800px) {
  .header__theme-menu {
    justify-self: flex-end;
    align-self: center;
  }
}

.header__theme-menu-list {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

@media (width <= 800px) {
  .header__theme-menu-list {
    grid-auto-flow: row;
  }
}

.header__theme-menu-button {
  border: none;
  color: var(--lead-color);
  line-height: 100%;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--lead-color-hover);
}

.header__theme-menu-button:focus-visible {
  appearance: none;
  outline: none;
  border-bottom: 1px solid var(--lead-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--lead-color);
  pointer-events: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--lead-color);
  border-right: 1px solid var(--lead-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--lead-color);
  border-left: 1px solid var(--lead-color);
}

@media (width <= 575px) {
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }
}

.header__decoration {
  position: absolute;
  top: 21px;
  right: 48px;
  color: var(--lead-color);
}

@media (width <= 575px) {
  .header__decoration {
    top: 11px;
    right: 38px;
  }
}

.header__decoration::after {
  content: "";
  position: inherit;
  top: 7px;
  left: 42px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px var(--lead-color);
  background: var(--lead-color);
}

.header__title {
  position: relative;
  right: 20px;
  grid-column: span 1;
  justify-self: flex-start;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px #ff0070;
}

@media (width <= 575px) {
  .header__title {
    right: 0;
    width: 100%;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

.header__subtitle {
  grid-column: span 1;
  justify-self: flex-end;
  align-self: center;
  max-inline-size: 47.5vi;
}

@media (width <= 575px) {
  .header__subtitle {
    justify-self: center;
    max-inline-size: 100vi;
  }
}

.title-decor {
  color: var(--subtitle-color);
  font-size: 18px;
  line-height: 130%;
  background-color: var(--accent-color);
}

.title-decor + .container__text {
  margin-block-start: 10px;
}

.title-decor + .title-decor {
  margin-block-start: 20px;
}

/*стили основного контента*/
.main {
  padding: 60px 20px 60px;
}

@media (width <= 575px) {
  .main {
    padding: 40px 10px 40px;
  }
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  appearance: none;
  outline: 1px solid var(--text-color);
}

.container {
  display: grid;
  gap: 20px;
  margin-block-end: 80px;
}

.container:last-of-type {
  margin-block-end: 0;
}

@media (width <= 575px) {
  .container {
    margin-block-end: 50px;
  }

  .container:last-of-type {
    gap: 10px;
  }
}

.container__title {
  color: var(--lead-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.container__text {
  color: var(--text-color);
  line-height: 130%;
}

.why {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: max-content;
}

.why__title {
  grid-column: 1 / 1;
}

.why__card {
  grid-column: 2 / 2;
}

@media (width <= 575px) {
  .why {
    grid-template-columns: 1fr;
  }

  .why__title {
    grid-column: span 1;
  }

  .why__card {
    grid-column: span 1;
  }
}

.what {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
}

.what__title {
  grid-column: span 3;
  max-inline-size: 30vi;
}

.what__card {
  grid-column: auto;
}

@media (width <= 800px) {
  .what__card {
    grid-column: span 3;
  }
}

@media (width <= 575px) {
  .what {
    grid-template-columns: 1fr;
  }

  .what__title {
    grid-column: span 1;
    max-inline-size: 100vi;
  }

  .what__card {
    grid-column: span 1;
  }
}

.how {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: max-content;
}

.how__title {
  grid-column: 1 / 1;
}

.how__card {
  grid-column: 2 / 2;
}

@media (width <= 575px) {
  .how {
    grid-template-columns: 1fr;
  }

  .how__title {
    grid-column: span 1;
  }

  .how__card {
    grid-column: span 1;
  }
}

/*стили галереи*/
.pictures {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
}

.pictures__title {
  grid-column: span 3;
}

.picture__wide {
  grid-column: span 2;
  grid-row: span 1;
}

.picture__high {
  grid-column: span 1;
  grid-row: span 2;
}

.picture {
  grid-column: span 1;
  grid-row: span 1;
}

.picture__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width <= 575px) {
  .pictures {
    grid-template-columns: 1fr;
  }

  .pictures__title {
    grid-column: span 1;
  }

  .picture__wide {
    grid-column: span 1;
  }

  .picture__high {
    grid-row: span 1;
  }
}

/*стили подвала*/
.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;
  min-block-size: 768px;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px #ff0070;
}

@media (width <= 800px) {
  .footer {
    min-block-size: 1024px;
  }
}

@media (width <= 575px) {
  .footer {
    padding: 10px;
    min-block-size: 668px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
