/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
}

.header {
  display: grid;
  justify-items: center;
  align-items: center;
  min-block-size: 768px;
  background: var(--background);
  background-size: cover;
}

.header__theme-menu {
  align-self: flex-start;
  padding: 20px;
}

.header__theme-menu-list {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  inline-size: 70px;
  block-size: 26px;
  line-height: 100%;
  text-transform: lowercase;
  color: var(--accent-color)
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  justify-self: flex-start;
}

.header__subtitle {
  max-inline-size: 490px;
}

.title-decor {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--heading-color);
  background-color: var(--accent-color);
}
