/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --lead-color: #ff0070;
  --background: url(../images/cover-image-dark.png);
  --background-color: #000028;
}
