/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --lead-color: #FF0070;
  --background: url(../images/cover-image-dark.png);
  --background-color: #000028;
}
